
<div class="card my-5">
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="form-group">
        <label for="name">Primer Nombre</label>
        <input type="text" [(ngModel)]="cliente.primerNombre"
          class="form-control"
          id="name"
          name="primerNombre"
          placeholder="Primer Nombre"
          disabled
          >
      </div>

      <div class="form-group">
        <label for="name">Segundo Nombre</label>
        <input type="text" [(ngModel)]="cliente.segundoNombre"
          class="form-control"
          id="name"
          name="segundoNombre"
          placeholder="Segundo Nombre"
          disabled
          >
      </div>

      <div class="form-group">
        <label for="name">Primer Apellido</label>
        <input type="text" [(ngModel)]="cliente.primerApellido"
          class="form-control"
          id="name"
          name="primerApellido"
          placeholder="Primer Apellido"
          disabled
          >
      </div>

      <div class="form-group">
        <label for="name">Segundo Apellido</label>
        <input type="text" [(ngModel)]="cliente.segundoApellido"
          class="form-control"
          id="name"
          name="segundoApellido"
          placeholder="Segundo Apellido"
          disabled
          >
      </div>

      <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" [(ngModel)]="cliente.telefono"
          class="form-control"
          id="telefono"
          name="telefono"
          placeholder="Enter your number telefono"
          disabled
          >

      </div>
      <div class="form-group">
        <label for="name">Direccion</label>
        <input type="text" [(ngModel)]="cliente.direccion"
          class="form-control"
          id="name"
          name="direccion"
          placeholder="Direccion"
          disabled
          >
      </div>

      <div class="form-group">
        <label for="name">Cidudad de Residencia</label>
        <input type="text" [(ngModel)]="cliente.ciudadResidencia"
          class="form-control"
          id="name"
          name="ciudadResidencia"
          placeholder="Ciudad Residencia"
          disabled
          >
      </div>

    </form>
  </div>
</div>
